In [1]:
import os

from ufcdata.query import DatabaseQuery
from ufcdata.tools import query_to_df

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sb
import pickle as pkl

import warnings
warnings.filterwarnings('ignore')

In [2]:
ROOT_DIR = os.path.dirname(os.path.abspath("top_level_file.txt"))
DATA_DIR = os.path.join(ROOT_DIR, 'data')
DATA_PATH = os.path.join(DATA_DIR, 'data_1.pkl')
DATA_2_PATH = os.path.join(DATA_DIR, 'data_2.pkl')

In [3]:
DQ = DatabaseQuery()

query = DQ.engine.execute('SELECT * from fights')

df_all_fights = query_to_df(query)
df_all_fights['rd_id'] = df_all_fights['fight_id'] + '-' + df_all_fights['rd_ended'].astype(str)
df_fights_finished = df_all_fights.loc[(df_all_fights['method'].str.contains('KO')) | (df_all_fights['method'].str.contains('Sub'))]

df_fights_finished

,id,fight_id,event_id,weight_class,rds_sched,rd_ended,method,time_last_rd,referee,bonus,...,judge3,judge1_fighter1,judge1_fighter2,judge2_fighter1,judge2_fighter2,judge3_fighter1,judge3_fighter2,deductions,create_date,rd_id
0,7152,3c49bf20e4442a81,08ae5cd9aef7ddd3,Welterweight,3,1,Submission,20,Mario Yamasaki,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-22,3c49bf20e4442a81-1
1,12936,6671b567c4eb9982,320edfb0332b7073,Featherweight,3,2,KO/TKO,51,Mark Smith,perf,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-22,6671b567c4eb9982-2
2,12937,e3ecb94228c2739f,320edfb0332b7073,Welterweight,3,1,KO/TKO,9,Herb Dean,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-22,e3ecb94228c2739f-1
3,12938,b4622ca7cf0e8506,320edfb0332b7073,Women's Strawweight,3,1,KO/TKO,1,Mark Smith,perf,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-22,b4622ca7cf0e8506-1
4,12940,c13474b85d3ced32,e57f0b06ea39e360,Women's Flyweight,3,1,KO/TKO,52,Mark Smith,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-22,c13474b85d3ced32-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6763,8638,74773b56e0b31c6b,4c8d6fde2dde07c4,Middleweight,3,2,KO/TKO,41,Herb Dean,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-22,74773b56e0b31c6b-2
6764,8640,295c2e1ae2d54287,4c8d6fde2dde07c4,Lightweight,3,1,KO/TKO,4,Mario Yamasaki,ko,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-22,295c2e1ae2d54287-1
6765,8642,aa4aa75f0065a687,4c8d6fde2dde07c4,Welterweight,3,3,Submission,20,Herb Dean,"fight, sub",...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-22,aa4aa75f0065a687-3
6766,8647,48ac0e2cf3681cca,f1f9e48a0d150757,Light Heavyweight,3,2,KO/TKO,37,Dan Miragliotta,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-22,48ac0e2cf3681cca-2
6767,8648,c299ca1bc07857d5,f1f9e48a0d150757,Welterweight,3,1,KO/TKO,57,Kevin Mulhall,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-22,c299ca1bc07857d5-1

In [4]:
query = DQ.engine.execute('SELECT * from round_stats')

df_all_round_stats = query_to_df(query)
df_all_round_stats['fight_id'] = df_all_round_stats['rd_id'].str[:-2]

df_all_round_stats

,id,rd_result_id,fighter_id,opponent_id,rd_id,kd,sig_head_made,sig_head_att,sig_body_made,sig_body_att,...,opp_sig_ground_att,opp_tot_str_made,opp_tot_str_att,opp_takedown_made,opp_takedown_att,opp_sub_att,opp_reversals,opp_ctrl,create_date,fight_id
0,51249,205ad947e8c94901-1-3738e68d2261e60f,3738e68d2261e60f,c9cf753cfdf77fc2,205ad947e8c94901-1,0,5,14,3,4,...,54,93,131,1,1,0,0,10.0,2022-08-22,205ad947e8c94901
1,51250,205ad947e8c94901-1-c9cf753cfdf77fc2,c9cf753cfdf77fc2,3738e68d2261e60f,205ad947e8c94901-1,0,34,59,0,0,...,1,12,23,0,0,0,0,3.0,2022-08-22,205ad947e8c94901
2,51251,205ad947e8c94901-2-3738e68d2261e60f,3738e68d2261e60f,c9cf753cfdf77fc2,205ad947e8c94901-2,0,10,24,2,3,...,0,7,20,0,0,0,0,0.0,2022-08-22,205ad947e8c94901
3,51252,205ad947e8c94901-2-c9cf753cfdf77fc2,c9cf753cfdf77fc2,3738e68d2261e60f,205ad947e8c94901-2,0,2,10,1,5,...,0,21,41,0,2,0,0,60.0,2022-08-22,205ad947e8c94901
4,51253,205ad947e8c94901-3-3738e68d2261e60f,3738e68d2261e60f,c9cf753cfdf77fc2,205ad947e8c94901-3,0,3,4,2,3,...,11,27,37,1,2,0,0,35.0,2022-08-22,205ad947e8c94901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31523,44876,46cfb41b00cb5ad8-4-18968f97ad34f15c,18968f97ad34f15c,d247691a6c0e9034,46cfb41b00cb5ad8-4,0,10,35,0,0,...,0,22,37,0,0,0,0,12.0,2022-08-22,46cfb41b00cb5ad8
31524,44877,46cfb41b00cb5ad8-5-d247691a6c0e9034,d247691a6c0e9034,18968f97ad34f15c,46cfb41b00cb5ad8-5,0,22,64,2,3,...,0,20,81,0,0,0,0,0.0,2022-08-22,46cfb41b00cb5ad8
31525,44878,46cfb41b00cb5ad8-5-18968f97ad34f15c,18968f97ad34f15c,d247691a6c0e9034,46cfb41b00cb5ad8-5,0,18,75,0,3,...,0,27,74,0,0,0,0,0.0,2022-08-22,46cfb41b00cb5ad8
31526,44879,ee532a38a0b93127-1-193b9d1858bc4df3,193b9d1858bc4df3,d7adfcfdf7c6c1f8,ee532a38a0b93127-1,0,11,17,1,1,...,0,1,9,0,2,3,0,21.0,2022-08-22,ee532a38a0b93127
31527,44880,ee532a38a0b93127-1-d7adfcfdf7c6c1f8,d7adfcfdf7c6c1f8,193b9d1858bc4df3,ee532a38a0b93127-1,0,0,8,1,1,...,12,51,67,0,0,0,0,54.0,2022-08-22,ee532a38a0b93127

In [5]:
query = DQ.engine.execute('SELECT * from rounds')

df_all_rounds = query_to_df(query)
df_all_finish_rounds_filtered = df_all_rounds.loc[df_all_rounds['rd_id'].isin(df_fights_finished['rd_id'])]
df_all_finish_rounds_filtered

,id,rd_id,fight_id,rd_num,rd_length,judge1_fighter1,judge1_fighter2,judge2_fighter1,judge2_fighter2,judge3_fighter1,judge3_fighter2,create_date
2,30921,c57c8e22a3e8dde2-2,c57c8e22a3e8dde2,2,7,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22
5,30923,3c98739eb42f96bf-2,3c98739eb42f96bf,2,62,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22
7,30930,897d9e21c59d0633-2,897d9e21c59d0633,2,29,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22
8,30931,8b5c760f34daafe0-1,8b5c760f34daafe0,1,59,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22
10,30935,1378fc2be3819b2b-1,1378fc2be3819b2b,1,13,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22
...,...,...,...,...,...,...,...,...,...,...,...,...
15750,24375,52abce3a11b43b1d-3,52abce3a11b43b1d,3,59,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22
15751,24376,cdf048ec9b917cfa-1,cdf048ec9b917cfa,1,41,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22
15752,24377,226c6a86f4f81122-1,226c6a86f4f81122,1,34,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22
15754,24379,f8ad660497e49187-2,f8ad660497e49187,2,40,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22
15756,24381,a7adbceeff234b61-2,a7adbceeff234b61,2,15,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22

In [6]:
df_rounds_scored = query_to_df(DQ.get_round_scoring())

df_rounds_scored

,id,rd_id,fight_id,rd_num,rd_length,judge1_fighter1,judge1_fighter2,judge2_fighter1,judge2_fighter2,judge3_fighter1,judge3_fighter2,create_date
0,24396,b46b27222e62aec1-1,b46b27222e62aec1,1,300,10,9,9.0,10.0,9.0,10.0,2022-08-22
1,24397,b46b27222e62aec1-2,b46b27222e62aec1,2,300,9,10,9.0,10.0,9.0,10.0,2022-08-22
2,24398,b46b27222e62aec1-3,b46b27222e62aec1,3,5,10,9,10.0,9.0,10.0,9.0,2022-08-22
3,24399,4fa02674b920ff0a-1,4fa02674b920ff0a,1,300,10,9,10.0,9.0,10.0,9.0,2022-08-22
4,24400,4fa02674b920ff0a-2,4fa02674b920ff0a,2,300,10,9,10.0,9.0,10.0,9.0,2022-08-22
...,...,...,...,...,...,...,...,...,...,...,...,...
7065,24358,44c6d87116bb3a10-3,44c6d87116bb3a10,3,5,10,9,10.0,9.0,10.0,9.0,2022-08-22
7066,24370,5afd44d1e567d2e8-2,5afd44d1e567d2e8,2,300,10,9,10.0,9.0,10.0,9.0,2022-08-22
7067,24383,d0dc419dc7acb7e2-2,d0dc419dc7acb7e2,2,300,9,10,9.0,10.0,9.0,10.0,2022-08-22
7068,24362,4ce0a62cdad7bf32-2,4ce0a62cdad7bf32,2,300,10,9,10.0,9.0,9.0,10.0,2022-08-22
7069,24382,d0dc419dc7acb7e2-1,d0dc419dc7acb7e2,1,300,9,10,9.0,10.0,9.0,10.0,2022-08-22

In [7]:
df_total_rounds = pd.concat([df_rounds_scored, df_all_finish_rounds_filtered])
df_total_rounds['f1_tot'] = df_total_rounds['judge1_fighter1'] + df_total_rounds['judge2_fighter1'] + df_total_rounds['judge3_fighter1']
df_total_rounds['f2_tot'] = df_total_rounds['judge1_fighter2'] + df_total_rounds['judge2_fighter2'] + df_total_rounds['judge3_fighter2']
df_total_rounds = pd.merge(df_total_rounds, df_all_fights[['rd_id', 'method', 'winner_id']], how='left', on='rd_id')
df_total_rounds = pd.merge(df_total_rounds, df_all_fights[['fight_id', 'fighter_1_id', 'fighter_2_id', 'weight_class']], how='left', on='fight_id')

df_total_rounds

,id,rd_id,fight_id,rd_num,rd_length,judge1_fighter1,judge1_fighter2,judge2_fighter1,judge2_fighter2,judge3_fighter1,judge3_fighter2,create_date,f1_tot,f2_tot,method,winner_id,fighter_1_id,fighter_2_id,weight_class
0,24396,b46b27222e62aec1-1,b46b27222e62aec1,1,300,10.0,9.0,9.0,10.0,9.0,10.0,2022-08-22,28.0,29.0,NaN,NaN,a4e85a58fbce64b2,64788ee44b062ded,Bantamweight
1,24397,b46b27222e62aec1-2,b46b27222e62aec1,2,300,9.0,10.0,9.0,10.0,9.0,10.0,2022-08-22,27.0,30.0,NaN,NaN,a4e85a58fbce64b2,64788ee44b062ded,Bantamweight
2,24398,b46b27222e62aec1-3,b46b27222e62aec1,3,5,10.0,9.0,10.0,9.0,10.0,9.0,2022-08-22,30.0,27.0,Decision - Split,64788ee44b062ded,a4e85a58fbce64b2,64788ee44b062ded,Bantamweight
3,24399,4fa02674b920ff0a-1,4fa02674b920ff0a,1,300,10.0,9.0,10.0,9.0,10.0,9.0,2022-08-22,30.0,27.0,NaN,NaN,029eaff01e6bb8f0,654ae722109a0d31,Lightweight
4,24400,4fa02674b920ff0a-2,4fa02674b920ff0a,2,300,10.0,9.0,10.0,9.0,10.0,9.0,2022-08-22,30.0,27.0,NaN,NaN,029eaff01e6bb8f0,654ae722109a0d31,Lightweight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10651,24375,52abce3a11b43b1d-3,52abce3a11b43b1d,3,59,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22,NaN,NaN,Submission,e5010b1b94ca5755,e5010b1b94ca5755,5f99b2bafb10305f,Lightweight
10652,24376,cdf048ec9b917cfa-1,cdf048ec9b917cfa,1,41,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22,NaN,NaN,Submission,96428b9e9bd048ea,4a1329cc8eb0928a,96428b9e9bd048ea,Featherweight
10653,24377,226c6a86f4f81122-1,226c6a86f4f81122,1,34,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22,NaN,NaN,Submission,c8097968da5e5f13,c8097968da5e5f13,e4d2564ea0e34e2b,Lightweight
10654,24379,f8ad660497e49187-2,f8ad660497e49187,2,40,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22,NaN,NaN,KO/TKO,06f36cf4bd97ec77,c80095f6092271a7,06f36cf4bd97ec77,Light Heavyweight
10655,24381,a7adbceeff234b61-2,a7adbceeff234b61,2,15,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-22,NaN,NaN,KO/TKO,9fa3bd637edd9aa2,9fa3bd637edd9aa2,484acc7b0f856ce9,Welterweight

In [18]:
df = pd.DataFrame()

df[['fight_id', 'fighter_id', 'rd_id']] = df_all_round_stats[['fight_id', 'fighter_id', 'rd_id']]
df = df.loc[df['rd_id'].isin(df_total_rounds['rd_id'])]
df['rd'] = df['rd_id'].str[-1].astype(int)
df['KO'] = 0
df['SUB'] = 0
df = pd.merge(df, df_total_rounds[['fight_id', 'rd_id', 'weight_class']], how='left', on=['fight_id', 'rd_id'])
df

,fight_id,fighter_id,rd_id,rd,KO,SUB,weight_class
0,0096879f5708526b,634e2fb70bde3fd5,0096879f5708526b-3,3,0,0,Women's Bantamweight
1,0096879f5708526b,673ea7dcc786b1b3,0096879f5708526b-3,3,0,0,Women's Bantamweight
2,e1100fc357e61fba,b27a1fcb56a3035a,e1100fc357e61fba-2,2,0,0,Light Heavyweight
3,e1100fc357e61fba,984d15d5dc7bfcf9,e1100fc357e61fba-2,2,0,0,Light Heavyweight
4,1645ed92dcdc5c03,bf7ad5628363eec9,1645ed92dcdc5c03-1,1,0,0,Featherweight
...,...,...,...,...,...,...,...
21269,46cfb41b00cb5ad8,18968f97ad34f15c,46cfb41b00cb5ad8-4,4,0,0,Featherweight
21270,46cfb41b00cb5ad8,d247691a6c0e9034,46cfb41b00cb5ad8-5,5,0,0,Featherweight
21271,46cfb41b00cb5ad8,18968f97ad34f15c,46cfb41b00cb5ad8-5,5,0,0,Featherweight
21272,ee532a38a0b93127,193b9d1858bc4df3,ee532a38a0b93127-1,1,0,0,Featherweight
21273,ee532a38a0b93127,d7adfcfdf7c6c1f8,ee532a38a0b93127-1,1,0,0,Featherweight

In [19]:

for i in df.index:
    ftr_id = df.at[i, 'fighter_id']
    rd_id = df.at[i, 'rd_id']
    df_red = df_total_rounds.loc[((df_total_rounds['fighter_2_id'] == ftr_id) | (df_total_rounds['fighter_1_id'] == ftr_id)) & (df_total_rounds['rd_id'] == rd_id)]
    try:
        df.at[i, 'KO'] = 1 if 'KO' in df_red['method'].item() and ftr_id == df_red['winner_id'].item() else 0
        df.at[i, 'SUB'] = 1 if 'Sub' in df_red['method'].item() and ftr_id == df_red['winner_id'].item() else 0
    except:
        pass
    
    df.at[i, 'rd_won'] = df.at[i, 'KO'] * df.at[i, 'SUB']
    
    if ftr_id == df_red['fighter_1_id'].item() and df_red['f1_tot'].item() > df_red['f2_tot'].item():
        df.at[i, 'rd_won'] = 1
    elif ftr_id == df_red['fighter_2_id'].item() and df_red['f1_tot'].item() < df_red['f2_tot'].item():
        df.at[i, 'rd_won'] = 1

In [20]:
df = pd.merge(df, df_total_rounds[['fight_id', 'rd_id']], how='left', on=['fight_id', 'rd_id'])

df

,fight_id,fighter_id,rd_id,rd,KO,SUB,weight_class,rd_won
0,0096879f5708526b,634e2fb70bde3fd5,0096879f5708526b-3,3,1,0,Women's Bantamweight,0.0
1,0096879f5708526b,673ea7dcc786b1b3,0096879f5708526b-3,3,0,0,Women's Bantamweight,0.0
2,e1100fc357e61fba,b27a1fcb56a3035a,e1100fc357e61fba-2,2,1,0,Light Heavyweight,0.0
3,e1100fc357e61fba,984d15d5dc7bfcf9,e1100fc357e61fba-2,2,0,0,Light Heavyweight,0.0
4,1645ed92dcdc5c03,bf7ad5628363eec9,1645ed92dcdc5c03-1,1,0,0,Featherweight,1.0
...,...,...,...,...,...,...,...,...
21269,46cfb41b00cb5ad8,18968f97ad34f15c,46cfb41b00cb5ad8-4,4,0,0,Featherweight,0.0
21270,46cfb41b00cb5ad8,d247691a6c0e9034,46cfb41b00cb5ad8-5,5,0,0,Featherweight,1.0
21271,46cfb41b00cb5ad8,18968f97ad34f15c,46cfb41b00cb5ad8-5,5,0,0,Featherweight,0.0
21272,ee532a38a0b93127,193b9d1858bc4df3,ee532a38a0b93127-1,1,1,0,Featherweight,0.0
21273,ee532a38a0b93127,d7adfcfdf7c6c1f8,ee532a38a0b93127-1,1,0,0,Featherweight,0.0

In [21]:
with open(DATA_PATH, 'wb') as f:
    pkl.dump(df, f)

In [12]:

df2 = df_all_round_stats.loc[df_all_round_stats['rd_id'].isin(df['rd_id'])]
df2['sig_str_made'] = df2['sig_head_made'] + df2['sig_body_made'] + df2['sig_leg_made']
df2['sig_str_att'] = df2['sig_head_att'] + df2['sig_body_att'] + df2['sig_leg_att']
df2['opp_sig_str_att'] = df2['opp_sig_head_att'] + df2['opp_sig_body_att'] + df2['opp_sig_leg_att']
df2['opp_sig_str_made'] = df2['opp_sig_head_made'] + df2['opp_sig_body_made'] + df2['opp_sig_leg_made']

In [13]:
# Create disparity columns and drop all other stats columns
offensive_stats = ['kd',
                   'sig_head_made',
                   'sig_body_made',
                   'sig_leg_made',
                   'sig_dist_made',
                   'sig_clinch_made',
                   'sig_ground_made',
                   'sig_str_made',
                   'sig_str_att',
                   'tot_str_made',
                   'tot_str_att',
                   'takedown_made',
                   'takedown_att',
                   'sub_att',
                   'reversals',
                   'ctrl'
                  ]

defensive_stats = ['opp_kd',
                   'opp_sig_head_made',
                   'opp_sig_body_made',
                   'opp_sig_leg_made',
                   'opp_sig_dist_made',
                   'opp_sig_clinch_made',
                   'opp_sig_ground_made',
                   'opp_sig_str_made',
                   'opp_sig_str_att',
                   'opp_tot_str_made',
                   'opp_tot_str_att',
                   'opp_takedown_made',
                   'opp_takedown_att',
                   'opp_sub_att',
                   'opp_reversals',
                   'opp_ctrl'
                  ]

keep_columns = ['fight_id',
                'fighter_id',
                'rd_id'
               ]

for o, d in zip(offensive_stats, defensive_stats):
    df2[o + '_disp'] = df2[o] - df2[d]
    df2[d + '_disp'] = df2[d] - df2[o]
    keep_columns.append(o + '_disp')

df2_copy = df2[keep_columns]

In [14]:
df2['sig_str_miss'] = df2['sig_str_att'] - df2['sig_str_made']
df2['opp_sig_str_avoid'] = df2['opp_sig_str_att'] - df2['opp_sig_str_made']
df2['sig_str_avoid_disp'] = df2['opp_sig_str_avoid'] - df2['sig_str_miss']

df2['takedown_miss'] = df2['takedown_att'] - df2['takedown_made']
df2['opp_takedown_avoid'] = df2['opp_takedown_att'] - df2['opp_takedown_made']
df2['takedown_avoid_disp'] = df2['opp_takedown_avoid'] - df2['takedown_miss']

keep_columns_final = ['sig_head_made_disp', 'kd_disp', 'ctrl_disp', 'sub_att_disp', 'takedown_made_disp',
                      'reversals_disp', 'sig_str_avoid_disp', 'takedown_avoid_disp',
                      'opp_ctrl_disp', 'opp_sig_str_made_disp', 'opp_takedown_made_disp'
                     ]

df2 = df2[keep_columns_final]

In [15]:
df2.describe()

,sig_head_made_disp,kd_disp,ctrl_disp,sub_att_disp,takedown_made_disp,reversals_disp,sig_str_avoid_disp,takedown_avoid_disp,opp_ctrl_disp,opp_sig_str_made_disp,opp_takedown_made_disp
count,21274.000000,21274.000000,20974.000000,21274.000000,21274.000000,21274.000000,21274.000000,21274.00000,20974.000000,21274.000000,21274.000000
mean,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
std,10.852806,0.518088,25.609743,0.680255,1.132628,0.285173,12.164451,1.77763,25.609743,13.133985,1.132628
min,-88.000000,-4.000000,-62.000000,-8.000000,-9.000000,-2.000000,-87.000000,-12.00000,-62.000000,-107.000000,-9.000000
25%,-5.000000,0.000000,-16.000000,0.000000,-1.000000,0.000000,-6.000000,-1.00000,-16.000000,-7.000000,-1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,5.000000,0.000000,16.000000,0.000000,1.000000,0.000000,6.000000,1.00000,16.000000,7.000000,1.000000
max,88.000000,4.000000,62.000000,8.000000,9.000000,2.000000,87.000000,12.00000,62.000000,107.000000,9.000000

In [16]:
with open(DATA_2_PATH, 'wb') as f:
    pkl.dump(df2, f)