In [145]:
import os

from ufcdata.query import DatabaseQuery
from ufcdata.tools import query_to_df

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sb
import pickle as pkl

import warnings
warnings.filterwarnings('ignore')

In [149]:
ROOT_DIR = os.path.dirname(os.path.abspath("top_level_file.txt"))
DATA_DIR = os.path.join(ROOT_DIR, 'data')
DATA_PATH = os.path.join(DATA_DIR, 'data_1.pkl')

In [121]:
DQ = DatabaseQuery()

query = DQ.engine.execute('SELECT * from fights')

df_all_fights = query_to_df(query)
df_all_fights['rd_id'] = df_all_fights['fight_id'] + '-' + df_all_fights['rd_ended'].astype(str)
df_fights_finished = df_all_fights.loc[(df_all_fights['method'].str.contains('KO')) | (df_all_fights['method'].str.contains('Sub'))]

df_fights_finished

,id,fight_id,event_id,weight_class,rds_sched,rd_ended,method,time_last_rd,referee,bonus,...,judge3,judge1_fighter1,judge1_fighter2,judge2_fighter1,judge2_fighter2,judge3_fighter1,judge3_fighter2,deductions,create_date,rd_id
0,2,e1e31a8dfa9c27f6,e29cf523ebd155c5,Women's Strawweight,3,2,Submission,34,Chris Tognoni,perf,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-18,e1e31a8dfa9c27f6-2
1,4,ed8fb10b596e6fa4,9c37681096c6f3a9,Women's Flyweight,3,3,Submission,60,Marc Goddard,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-18,ed8fb10b596e6fa4-3
2,5,579f3280456ad450,831b937811804dad,Bantamweight,3,2,KO/TKO,34,Chris Tognoni,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-18,579f3280456ad450-2
3,7,d866afa89d62a4ae,805ad1801eb26abb,Lightweight,3,1,KO/TKO,13,Jason Herzog,perf,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-18,d866afa89d62a4ae-1
4,9,024a04f78b37b7d9,d4f364dd076bb0e2,Bantamweight,3,1,KO/TKO,51,Lukasz Bosacki,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-18,024a04f78b37b7d9-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5912,6758,3d35f25d9792a69a,319c15b8aac5bfde,Featherweight,3,2,KO/TKO,14,Daniel Movahedi,perf,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-18,3d35f25d9792a69a-2
5913,6763,a57969d4ba7d4a79,319c15b8aac5bfde,Women's Flyweight,3,1,KO/TKO,55,Herb Dean,perf,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-18,a57969d4ba7d4a79-1
5914,6764,1ff520024da5b3b2,319c15b8aac5bfde,Light Heavyweight,3,1,KO/TKO,8,Marc Goddard,perf,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-18,1ff520024da5b3b2-1
5915,6765,8e02bdaac8ed50e5,319c15b8aac5bfde,Lightweight,3,2,Submission,48,Daniel Movahedi,perf,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-18,8e02bdaac8ed50e5-2
5916,6767,d0fb381cacbb0446,319c15b8aac5bfde,Heavyweight,5,1,KO/TKO,15,Herb Dean,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-08-18,d0fb381cacbb0446-1

In [122]:
query = DQ.engine.execute('SELECT * from round_stats')

df_all_round_stats = query_to_df(query)
df_all_round_stats['fight_id'] = df_all_round_stats['rd_id'].str[:-2]

df_all_round_stats

,id,rd_result_id,fighter_id,opponent_id,rd_id,kd,sig_head_made,sig_head_att,sig_body_made,sig_body_att,...,opp_sig_ground_att,opp_tot_str_made,opp_tot_str_att,opp_takedown_made,opp_takedown_att,opp_sub_att,opp_reversals,opp_ctrl,create_date,fight_id
0,1,e05a18b6ce22fa1f-1-52c2ae6d2f2d2613,52c2ae6d2f2d2613,da22387a0407a2dc,e05a18b6ce22fa1f-1,0,0,6,0,0,...,0,12,24,0,0,0,1,24.0,2022-08-18,e05a18b6ce22fa1f
1,2,e05a18b6ce22fa1f-1-da22387a0407a2dc,da22387a0407a2dc,52c2ae6d2f2d2613,e05a18b6ce22fa1f-1,0,0,4,0,0,...,0,9,17,1,1,0,0,43.0,2022-08-18,e05a18b6ce22fa1f
2,3,e05a18b6ce22fa1f-2-52c2ae6d2f2d2613,52c2ae6d2f2d2613,da22387a0407a2dc,e05a18b6ce22fa1f-2,0,1,4,1,1,...,0,9,14,1,2,1,1,36.0,2022-08-18,e05a18b6ce22fa1f
3,4,e05a18b6ce22fa1f-2-da22387a0407a2dc,da22387a0407a2dc,52c2ae6d2f2d2613,e05a18b6ce22fa1f-2,0,1,2,1,1,...,0,6,10,0,0,1,1,11.0,2022-08-18,e05a18b6ce22fa1f
4,5,e05a18b6ce22fa1f-3-52c2ae6d2f2d2613,52c2ae6d2f2d2613,da22387a0407a2dc,e05a18b6ce22fa1f-3,0,42,116,12,13,...,0,19,53,0,3,0,0,55.0,2022-08-18,e05a18b6ce22fa1f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31461,31462,925a36a4af600291-2-5442f1bc4b47eaf3,5442f1bc4b47eaf3,0a1942069c9ad6b6,925a36a4af600291-2,0,5,24,11,16,...,0,45,108,0,2,0,0,0.0,2022-08-18,925a36a4af600291
31462,31463,925a36a4af600291-3-0a1942069c9ad6b6,0a1942069c9ad6b6,5442f1bc4b47eaf3,925a36a4af600291-3,0,15,54,12,17,...,0,20,57,0,0,0,0,0.0,2022-08-18,925a36a4af600291
31463,31464,925a36a4af600291-3-5442f1bc4b47eaf3,5442f1bc4b47eaf3,0a1942069c9ad6b6,925a36a4af600291-3,0,10,42,10,14,...,0,34,78,0,3,0,0,0.0,2022-08-18,925a36a4af600291
31464,31465,d0fb381cacbb0446-1-fa6796c55d6c5440,fa6796c55d6c5440,399afbabc02376b5,d0fb381cacbb0446-1,0,2,8,1,1,...,0,3,5,0,0,0,0,1.0,2022-08-18,d0fb381cacbb0446
31465,31466,d0fb381cacbb0446-1-399afbabc02376b5,399afbabc02376b5,fa6796c55d6c5440,d0fb381cacbb0446-1,0,0,2,1,1,...,0,4,10,0,0,0,0,0.0,2022-08-18,d0fb381cacbb0446

In [123]:
query = DQ.engine.execute('SELECT * from rounds')

df_all_rounds = query_to_df(query)
df_all_finish_rounds_filtered = df_all_rounds.loc[df_all_rounds['rd_id'].isin(df_fights_finished['rd_id'])]
df_all_finish_rounds_filtered

,id,rd_id,fight_id,rd_num,rd_length,judge1_fighter1,judge1_fighter2,judge2_fighter1,judge2_fighter2,judge3_fighter1,judge3_fighter2,create_date
1,5,e1e31a8dfa9c27f6-2,e1e31a8dfa9c27f6,2,34,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18
4,11,ed8fb10b596e6fa4-3,ed8fb10b596e6fa4,3,60,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18
6,13,579f3280456ad450-2,579f3280456ad450,2,34,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18
7,17,d866afa89d62a4ae-1,d866afa89d62a4ae,1,13,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18
8,21,024a04f78b37b7d9-1,024a04f78b37b7d9,1,51,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18
...,...,...,...,...,...,...,...,...,...,...,...,...
14358,15736,3d35f25d9792a69a-2,3d35f25d9792a69a,2,14,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18
14359,15749,a57969d4ba7d4a79-1,a57969d4ba7d4a79,1,55,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18
14360,15750,1ff520024da5b3b2-1,1ff520024da5b3b2,1,8,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18
14362,15752,8e02bdaac8ed50e5-2,8e02bdaac8ed50e5,2,48,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18
14363,15756,d0fb381cacbb0446-1,d0fb381cacbb0446,1,15,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18

In [124]:
df_rounds_scored = query_to_df(DQ.get_round_scoring())

df_rounds_scored

,id,rd_id,fight_id,rd_num,rd_length,judge1_fighter1,judge1_fighter2,judge2_fighter1,judge2_fighter2,judge3_fighter1,judge3_fighter2,create_date
0,42,7ac1c2f87b795742-2,7ac1c2f87b795742,2,300,10,9,10.0,9.0,10.0,9.0,2022-08-18
1,43,7ac1c2f87b795742-3,7ac1c2f87b795742,3,5,10,9,9.0,10.0,9.0,10.0,2022-08-18
2,49,e8d3768f293a699b-2,e8d3768f293a699b,2,300,9,10,9.0,10.0,10.0,9.0,2022-08-18
3,50,e8d3768f293a699b-3,e8d3768f293a699b,3,5,9,10,10.0,9.0,9.0,10.0,2022-08-18
4,45,0f641756e99605ad-1,0f641756e99605ad,1,300,9,10,9.0,10.0,9.0,10.0,2022-08-18
...,...,...,...,...,...,...,...,...,...,...,...,...
7046,15753,925a36a4af600291-1,925a36a4af600291,1,300,10,9,10.0,9.0,10.0,9.0,2022-08-18
7047,3582,4bb7363bb03628f6-1,4bb7363bb03628f6,1,300,10,9,10.0,9.0,10.0,9.0,2022-08-18
7048,3380,37d988593cb5f14a-1,37d988593cb5f14a,1,300,9,10,9.0,10.0,9.0,10.0,2022-08-18
7049,3392,f0d86420d88ca27b-3,f0d86420d88ca27b,3,5,10,9,10.0,9.0,10.0,9.0,2022-08-18
7050,3412,6e574bd614afffd9-1,6e574bd614afffd9,1,300,9,10,10.0,9.0,9.0,10.0,2022-08-18

In [125]:
df_total_rounds = pd.concat([df_rounds_scored, df_all_finish_rounds_filtered])
df_total_rounds['f1_tot'] = df_total_rounds['judge1_fighter1'] + df_total_rounds['judge2_fighter1'] + df_total_rounds['judge3_fighter1']
df_total_rounds['f2_tot'] = df_total_rounds['judge1_fighter2'] + df_total_rounds['judge2_fighter2'] + df_total_rounds['judge3_fighter2']
df_total_rounds = pd.merge(df_total_rounds, df_all_fights[['rd_id', 'method', 'winner_id']], how='left', on='rd_id')
df_total_rounds = pd.merge(df_total_rounds, df_all_fights[['fight_id', 'fighter_1_id', 'fighter_2_id', 'weight_class']], how='left', on='fight_id')

df_total_rounds

,id,rd_id,fight_id,rd_num,rd_length,judge1_fighter1,judge1_fighter2,judge2_fighter1,judge2_fighter2,judge3_fighter1,judge3_fighter2,create_date,f1_tot,f2_tot,method,winner_id,fighter_1_id,fighter_2_id,weight_class
0,42,7ac1c2f87b795742-2,7ac1c2f87b795742,2,300,10.0,9.0,10.0,9.0,10.0,9.0,2022-08-18,30.0,27.0,NaN,NaN,2c1170b825f58e57,ec71a892fada28c7,Bantamweight
1,43,7ac1c2f87b795742-3,7ac1c2f87b795742,3,5,10.0,9.0,9.0,10.0,9.0,10.0,2022-08-18,28.0,29.0,Decision - Split,ec71a892fada28c7,2c1170b825f58e57,ec71a892fada28c7,Bantamweight
2,49,e8d3768f293a699b-2,e8d3768f293a699b,2,300,9.0,10.0,9.0,10.0,10.0,9.0,2022-08-18,28.0,29.0,NaN,NaN,9a2d3567abc02e34,6905d45bd71b50a9,Lightweight
3,50,e8d3768f293a699b-3,e8d3768f293a699b,3,5,9.0,10.0,10.0,9.0,9.0,10.0,2022-08-18,28.0,29.0,Decision - Split,9a2d3567abc02e34,9a2d3567abc02e34,6905d45bd71b50a9,Lightweight
4,45,0f641756e99605ad-1,0f641756e99605ad,1,300,9.0,10.0,9.0,10.0,9.0,10.0,2022-08-18,27.0,30.0,NaN,NaN,165c244bcca3ed26,5f179af5fffeb9f6,Women's Strawweight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10627,15736,3d35f25d9792a69a-2,3d35f25d9792a69a,2,14,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18,NaN,NaN,KO/TKO,87c0b1c696ddfb43,87a1dc546b1c5caf,87c0b1c696ddfb43,Featherweight
10628,15749,a57969d4ba7d4a79-1,a57969d4ba7d4a79,1,55,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18,NaN,NaN,KO/TKO,51018a31ddf31eb2,51018a31ddf31eb2,26e3f3928b1891d9,Women's Flyweight
10629,15750,1ff520024da5b3b2-1,1ff520024da5b3b2,1,8,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18,NaN,NaN,KO/TKO,1091d4d957141094,1091d4d957141094,3c6976f8182d9527,Light Heavyweight
10630,15752,8e02bdaac8ed50e5-2,8e02bdaac8ed50e5,2,48,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18,NaN,NaN,Submission,7826923b47f8d72a,7826923b47f8d72a,ac026518a9b4dc0f,Lightweight
10631,15756,d0fb381cacbb0446-1,d0fb381cacbb0446,1,15,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-18,NaN,NaN,KO/TKO,fa6796c55d6c5440,fa6796c55d6c5440,399afbabc02376b5,Heavyweight

In [142]:
df = pd.DataFrame()

df[['fight_id', 'fighter_id', 'rd_id']] = df_all_round_stats[['fight_id', 'fighter_id', 'rd_id']]
df = df.loc[df['rd_id'].isin(df_total_rounds['rd_id'])]
df['rd'] = df['rd_id'].str[-1].astype(int)
df['KO'] = 0
df['SUB'] = 0
df = pd.merge(df, df_total_rounds[['fight_id', 'rd_id', 'weight_class']], how='left', on=['fight_id', 'rd_id'])
df

,fight_id,fighter_id,rd_id,rd,KO,SUB,weight_class
0,e05a18b6ce22fa1f,52c2ae6d2f2d2613,e05a18b6ce22fa1f-1,1,0,0,Bantamweight
1,e05a18b6ce22fa1f,da22387a0407a2dc,e05a18b6ce22fa1f-1,1,0,0,Bantamweight
2,e05a18b6ce22fa1f,52c2ae6d2f2d2613,e05a18b6ce22fa1f-2,2,0,0,Bantamweight
3,e05a18b6ce22fa1f,da22387a0407a2dc,e05a18b6ce22fa1f-2,2,0,0,Bantamweight
4,e05a18b6ce22fa1f,52c2ae6d2f2d2613,e05a18b6ce22fa1f-3,3,0,0,Bantamweight
...,...,...,...,...,...,...,...
21221,925a36a4af600291,5442f1bc4b47eaf3,925a36a4af600291-2,2,0,0,Middleweight
21222,925a36a4af600291,0a1942069c9ad6b6,925a36a4af600291-3,3,0,0,Middleweight
21223,925a36a4af600291,5442f1bc4b47eaf3,925a36a4af600291-3,3,0,0,Middleweight
21224,d0fb381cacbb0446,fa6796c55d6c5440,d0fb381cacbb0446-1,1,0,0,Heavyweight
21225,d0fb381cacbb0446,399afbabc02376b5,d0fb381cacbb0446-1,1,0,0,Heavyweight

In [143]:

for i in df.index:
    ftr_id = df.at[i, 'fighter_id']
    rd_id = df.at[i, 'rd_id']
    df_red = df_total_rounds.loc[((df_total_rounds['fighter_2_id'] == ftr_id) | (df_total_rounds['fighter_1_id'] == ftr_id)) & (df_total_rounds['rd_id'] == rd_id)]
    try:
        df.at[i, 'KO'] = 1 if 'KO' in df_red['method'].item() and ftr_id == df_red['winner_id'].item() else 0
        df.at[i, 'SUB'] = 1 if 'Sub' in df_red['method'].item() and ftr_id == df_red['winner_id'].item() else 0
    except:
        pass
    
    df.at[i, 'rd_won'] = df.at[i, 'KO'] * df.at[i, 'SUB']
    
    if ftr_id == df_red['fighter_1_id'].item() and df_red['f1_tot'].item() > df_red['f2_tot'].item():
        df.at[i, 'rd_won'] = 1
    elif ftr_id == df_red['fighter_2_id'].item() and df_red['f1_tot'].item() < df_red['f2_tot'].item():
        df.at[i, 'rd_won'] = 1

In [144]:
df = pd.merge(df, df_total_rounds[['fight_id', 'rd_id', 'weight_class']], how='left', on=['fight_id', 'rd_id'])

df

,fight_id,fighter_id,rd_id,rd,KO,SUB,weight_class_x,rd_won,weight_class_y
0,e05a18b6ce22fa1f,52c2ae6d2f2d2613,e05a18b6ce22fa1f-1,1,0,0,Bantamweight,0.0,Bantamweight
1,e05a18b6ce22fa1f,da22387a0407a2dc,e05a18b6ce22fa1f-1,1,0,0,Bantamweight,1.0,Bantamweight
2,e05a18b6ce22fa1f,52c2ae6d2f2d2613,e05a18b6ce22fa1f-2,2,0,0,Bantamweight,0.0,Bantamweight
3,e05a18b6ce22fa1f,da22387a0407a2dc,e05a18b6ce22fa1f-2,2,0,0,Bantamweight,1.0,Bantamweight
4,e05a18b6ce22fa1f,52c2ae6d2f2d2613,e05a18b6ce22fa1f-3,3,0,0,Bantamweight,1.0,Bantamweight
...,...,...,...,...,...,...,...,...,...
21221,925a36a4af600291,5442f1bc4b47eaf3,925a36a4af600291-2,2,0,0,Middleweight,0.0,Middleweight
21222,925a36a4af600291,0a1942069c9ad6b6,925a36a4af600291-3,3,0,0,Middleweight,0.0,Middleweight
21223,925a36a4af600291,5442f1bc4b47eaf3,925a36a4af600291-3,3,0,0,Middleweight,1.0,Middleweight
21224,d0fb381cacbb0446,fa6796c55d6c5440,d0fb381cacbb0446-1,1,1,0,Heavyweight,0.0,Heavyweight
21225,d0fb381cacbb0446,399afbabc02376b5,d0fb381cacbb0446-1,1,0,0,Heavyweight,0.0,Heavyweight

In [224]:
with open(DATA_PATH, 'wb') as f:
    pkl.dump(df, f)

In [234]:
df2 = df_all_round_stats.loc[df_all_round_stats['rd_id'].isin(df['rd_id'])]
df2['sig_str_made'] = df2['sig_head_made'] + df2['sig_body_made'] + df2['sig_leg_made']
df2['sig_str_att'] = df2['sig_head_att'] + df2['sig_body_att'] + df2['sig_leg_att']
df2['opp_sig_str_att'] = df2['opp_sig_head_att'] + df2['opp_sig_body_att'] + df2['opp_sig_leg_att']
df2['opp_sig_str_made'] = df2['opp_sig_head_made'] + df2['opp_sig_body_made'] + df2['opp_sig_leg_made']

df2['ctrl_disp']

KeyError: 'ctrl_disp'

In [226]:
# Create disparity columns and drop all other stats columns
offensive_stats = ['kd',
                   'sig_head_made',
                   'sig_body_made',
                   'sig_leg_made',
                   'sig_dist_made',
                   'sig_clinch_made',
                   'sig_ground_made',
                   'sig_str_made',
                   'sig_str_att',
                   'tot_str_made',
                   'tot_str_att',
                   'takedown_made',
                   'takedown_att',
                   'sub_att',
                   'reversals',
                   'ctrl'
                  ]

defensive_stats = ['opp_kd',
                   'opp_sig_head_made',
                   'opp_sig_body_made',
                   'opp_sig_leg_made',
                   'opp_sig_dist_made',
                   'opp_sig_clinch_made',
                   'opp_sig_ground_made',
                   'opp_sig_str_made',
                   'opp_sig_str_att',
                   'opp_tot_str_made',
                   'opp_tot_str_att',
                   'opp_takedown_made',
                   'opp_takedown_att',
                   'opp_sub_att',
                   'opp_reversals',
                   'opp_ctrl'
                  ]

keep_columns = ['fight_id',
                'fighter_id',
                'rd_id'
               ]

for o, d in zip(offensive_stats, defensive_stats):
    df2[o + '_disp'] = df2[o] - df2[d]
    df2[d + '_disp'] = df2[d] - df2[o]
    keep_columns.append(o + '_disp')

df2_copy = df2[keep_columns]

In [231]:
df2_copy

,fight_id,fighter_id,rd_id,kd_disp,sig_head_made_disp,sig_body_made_disp,sig_leg_made_disp,sig_dist_made_disp,sig_clinch_made_disp,sig_ground_made_disp,sig_str_made_disp,sig_str_att_disp,tot_str_made_disp,tot_str_att_disp,takedown_made_disp,takedown_att_disp,sub_att_disp,reversals_disp,ctrl_disp
0,e05a18b6ce22fa1f,52c2ae6d2f2d2613,e05a18b6ce22fa1f-1,0,0,0,-5,-5,0,0,-5,-5,-3,-7,1,1,0,-1,0.0
1,e05a18b6ce22fa1f,da22387a0407a2dc,e05a18b6ce22fa1f-1,0,0,0,5,5,0,0,5,5,3,7,-1,-1,0,1,0.0
2,e05a18b6ce22fa1f,52c2ae6d2f2d2613,e05a18b6ce22fa1f-2,0,0,0,1,0,1,0,1,3,-3,-4,-1,-2,0,0,0.0
3,e05a18b6ce22fa1f,da22387a0407a2dc,e05a18b6ce22fa1f-2,0,0,0,-1,0,-1,0,-1,-3,3,4,1,2,0,0,0.0
4,e05a18b6ce22fa1f,52c2ae6d2f2d2613,e05a18b6ce22fa1f-3,0,33,7,0,20,4,16,40,83,48,99,0,-3,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31461,925a36a4af600291,5442f1bc4b47eaf3,925a36a4af600291-2,0,-21,1,-9,-28,-1,0,-29,-68,-29,-68,0,-2,0,0,0.0
31462,925a36a4af600291,0a1942069c9ad6b6,925a36a4af600291-3,0,5,2,7,16,-2,0,14,21,14,21,0,3,0,0,0.0
31463,925a36a4af600291,5442f1bc4b47eaf3,925a36a4af600291-3,0,-5,-2,-7,-16,2,0,-14,-21,-14,-21,0,-3,0,0,0.0
31464,d0fb381cacbb0446,fa6796c55d6c5440,d0fb381cacbb0446-1,0,2,0,-1,1,0,0,1,5,1,5,0,0,0,0,0.0
31465,d0fb381cacbb0446,399afbabc02376b5,d0fb381cacbb0446-1,0,-2,0,1,-1,0,0,-1,-5,-1,-5,0,0,0,0,0.0

In [228]:
df2['sig_str_miss'] = df2['sig_str_att'] - df2['sig_str_made']
df2['opp_sig_str_avoid'] = df2['opp_sig_str_att'] - df2['opp_sig_str_made']
df2['sig_str_avoid_disp'] = df2['opp_sig_str_avoid'] - df2['sig_str_miss']

df2['takedown_miss'] = df2['takedown_att'] - df2['takedown_made']
df2['opp_takedown_avoid'] = df2['opp_takedown_att'] - df2['opp_takedown_made']
df2['takedown_avoid_disp'] = df2['opp_takedown_avoid'] - df2['takedown_miss']

keep_columns_final = ['sig_head_made_disp', 'kd_disp', 'ctrl_disp', 'sub_att_disp', 'takedown_made_disp',
                      'reversals_disp', 'sig_str_avoid_disp', 'takedown_avoid_disp',
                      'opp_ctrl_disp', 'opp_sig_str_made_disp', 'opp_takedown_made_disp'
                     ]

df2 = df2[keep_columns_final]

In [232]:
df2.describe()

,sig_head_made_disp,kd_disp,ctrl_disp,sub_att_disp,takedown_made_disp,reversals_disp,sig_str_avoid_disp,takedown_avoid_disp,opp_ctrl_disp,opp_sig_str_made_disp,opp_takedown_made_disp
count,21226.000000,21226.000000,20926.0,21226.000000,21226.000000,21226.00000,21226.000000,21226.000000,20926.0,21226.000000,21226.000000
mean,0.000000,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,0.000000
std,10.845939,0.518128,0.0,0.680816,1.133326,0.28533,12.166354,1.775637,0.0,13.122318,1.133326
min,-88.000000,-4.000000,0.0,-8.000000,-9.000000,-2.00000,-87.000000,-12.000000,0.0,-107.000000,-9.000000
25%,-5.000000,0.000000,0.0,0.000000,-1.000000,0.00000,-6.000000,-1.000000,0.0,-7.000000,-1.000000
50%,0.000000,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.000000,0.000000
75%,5.000000,0.000000,0.0,0.000000,1.000000,0.00000,6.000000,1.000000,0.0,7.000000,1.000000
max,88.000000,4.000000,0.0,8.000000,9.000000,2.00000,87.000000,12.000000,0.0,107.000000,9.000000